<html ng-app="GivingProfApp">
  <head>
    <title>Giving Prof</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-1.46.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>

  <body ng-controller="GivingProfController">
    <div class="navbar">
      <a href="/">
        <span class="navbar__brand">
          <img class="navbar__brand__logo" src="../static/brain_interpreter_logo.png">
        </span>
      </a>
      <span class="navbar__link navbar__link--selected">Query</span>
      <span class="navbar__link">How it works</span>
      <span class="navbar__link navbar__link--right">Feedback</span>
    </div>

    <div class="container">
      <div class="search">
	<form role="form" ng-submit="getResults()">
          <div class="form-group">
            <div class="search-input-container">
              <span class="search-input__lead">Predict brain activation for</span>
              <input type="text" maxlength="140" ng-model="urlKey" name="url_key" class="search-input"></input>
            </div>
            <div class="button-container">
              <button type="submit" class="submit-button submit-button--generate">
                Generate
              </button>
              <button class="submit-button submit-button--brainy">
                I'm feeling brainy
              </button>
            </div>
          </div>
        </form>
	{% for error in errors %}
            <p class="alert alert-danger">{{ error }}</h4>
        {% endfor %}
      </div>

      <div class="image-container">
        <div class="spinner" id="spinner" ng-show="loading">
          <div class="spinner__chase">
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
          </div>
        </div>

        <div class="placeholder" ng-show="!success">
          <img class="placeholder__img" src="{{ url_for('static', filename='blank.webp') }}"></img>
          <p class="placeholder__lead">Enter any query shorter than an old tweet (140 characters), or click on "I'm feeling brainy" to try it out!</p>
        </div>

        <div style="display: flex">
          <div style="text-align: center; margin-top: 20px; flex: 1">
            <div id="lh-surface-plot"></div>
            <div class="lh-colorbar-container">
              <canvas id="lh-colorbar" class="colorbar" width="129" height="17"></canvas>
              <div id="lh-colorbar-legend" class="colorbar-legend"></div>
            </div>

            <div class="control-container" ng-show="success">
              <span class="select-control-container">
                <select class="select-control" id="lh-select-kind">
                  <option value="inflated">Inflated</option>
                  <option value="pial" selected>Pial</option>
                </select>
              </span>
              <span class="select-control-container">
                <select class="select-control" id="lh-select-view">
                  <option value="left" selected>view: Left</option>
                  <option value="right">view: Right</option>
                  <option value="front">view: Front</option>
                  <option value="back">view: Back</option>
                  <option value="top">view: Top</option>
                  <option value="bottom">view: Bottom</option>
                  <option value="custom">view: -</option>
                </select>
              </span>
            </div>
          </div>
          <div style="text-align: center; margin-top: 20px; flex: 1; max-height: 200px">
            <div id="rh-surface-plot" style="width: 100%"></div>
            <div class="rh-colorbar-container">
              <canvas id="rh-colorbar" class="colorbar" width="129" height="17"></canvas>
              <div id="rh-colorbar-legend" class="colorbar-legend"></div>
            </div>

            <div class="control-container" ng-show="success">
              <span class="select-control-container">
                <select id="rh-select-kind" class="select-control">
                  <option value="inflated">Inflated</option>
                  <option value="pial" selected>Pial</option>
                </select>
              </span>
              <span class="select-control-container">
                <select id="rh-select-view" class="select-control">
                  <option value="left">view: Left</option>
                  <option value="right" selected>view: Right</option>
                  <option value="front">view: Front</option>
                  <option value="back">view: Back</option>
                  <option value="top">view: Top</option>
                  <option value="bottom">view: Bottom</option>
                  <option value="custom">view: -</option>
                </select>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
