<html ng-app="BrainInterpreterApp">
  <head>
    <title>Brain Interpreter</title>
    <meta name="description" content="Search for a brain map with your text query">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Brain Interpreter" />
    <meta property="og:description" content="Search for a brain map with your text query" />
    <meta property="og:image" content="https://braininterpreter.com/static/banner.jpg" />
    <meta property="og:url" content="http://braininterpreter.com/"/>
    <meta property="og:type" content="website"/>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-1.46.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PNJKKG73CB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-PNJKKG73CB');
    </script>
  </head>

  <body ng-controller="BrainInterpreterController">
    <div class="navbar">
      <span class="navbar__brand" ng-click="scrollToTop()">
        <img class="navbar__brand__logo" src="../static/brain_interpreter_logo.png">
      </span>
      <div class="navbar__menu" id="navbar-menu">
        <span class="navbar__link navbar__link--selected" ng-click="scrollToTop()">Query</span>
        <span class="navbar__link" ng-click="scrollToHowItWorks()">How it works</span>
        <span class="navbar__link" ng-click="scrollToAPI()">API</span>
        <span class="navbar__link navbar__link--right" ng-click="scrollToFeedback()">Feedback</span>
      </div>
      <div class="navbar__hamburger" id="navbar-hamburger" ng-click="toggleMenu()">
        <span class="navbar__hamburger__bar"></span>
        <span class="navbar__hamburger__bar"></span>
        <span class="navbar__hamburger__bar"></span>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="spinner" id="spinner" ng-show="loading">
          <div class="spinner__chase">
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
            <div class="spinner__chase__dot"></div>
          </div>
        </div>

        <div class="search">
          <div class="search-input-container">
            <span class="search-input__lead">Predict brain activation for</span>
            <input type="text" autocomplete="off" minLength="2" maxlength="140" ng-model="query" name="q" class="search-input" placeholder="any phrase shorter than 140 characters"></input>
          </div>
          <div class="button-container">
            <button type="submit" class="submit-button submit-button--generate" ng-click="getResults()">
              Generate
            </button>
            <button class="submit-button submit-button--white" ng-click="feelBrainy()">
	      I'm feeling brainy
	    </button>
          </div>
        </div>

        <div class="image-container">
          <div class="placeholder" ng-show="!success">
            <img class="placeholder__img" src="{{ url_for('static', filename='blank.webp') }}"></img>
            <p class="placeholder__lead">Enter any query shorter than an old tweet (140 characters), or click on "I'm feeling brainy" to try it out!</p>
          </div>

          <div class="plot-container">
            <div class="plot-container__col">
              <div id="lh-surface-plot"></div>
              <div class="lh-colorbar-container" ng-show="success">
                <canvas id="lh-colorbar" class="colorbar" width="129" height="17"></canvas>
                <div id="lh-colorbar-legend" class="colorbar-legend"></div>
              </div>

              <div class="control-container" ng-show="success">
                <span class="select-control-container">
                  <select class="select-control" id="lh-select-kind">
                    <option value="inflated">Inflated</option>
                    <option value="pial" selected>Pial</option>
                  </select>
                </span>
                <span class="select-control-container">
                  <select class="select-control" id="lh-select-view">
                    <option value="left" selected>view: Left</option>
                    <option value="right">view: Right</option>
                    <option value="front">view: Front</option>
                    <option value="back">view: Back</option>
                    <option value="top">view: Top</option>
                    <option value="bottom">view: Bottom</option>
                    <option value="custom">view: -</option>
                  </select>
                </span>
              </div>
            </div>
            <div class="plot-container__col">
              <div id="rh-surface-plot" style="width: 100%"></div>
              <div class="rh-colorbar-container" ng-show="success">
                <canvas id="rh-colorbar" class="colorbar" width="129" height="17"></canvas>
                <div id="rh-colorbar-legend" class="colorbar-legend"></div>
              </div>

              <div class="control-container" ng-show="success">
                <span class="select-control-container">
                  <select id="rh-select-kind" class="select-control">
                    <option value="inflated">Inflated</option>
                    <option value="pial" selected>Pial</option>
                  </select>
                </span>
                <span class="select-control-container">
                  <select id="rh-select-view" class="select-control">
                    <option value="left">view: Left</option>
                    <option value="right" selected>view: Right</option>
                    <option value="front">view: Front</option>
                    <option value="back">view: Back</option>
                    <option value="top">view: Top</option>
                    <option value="bottom">view: Bottom</option>
                    <option value="custom">view: -</option>
                  </select>
                </span>
              </div>
            </div>
          </div>
        </div>

        {% raw %}
        <div class="download-button-container" ng-show="downloadPath.length > 0">
          <a ng-href="{{downloadPath}}" style="text-decoration: none" target="_blank">
            <button class="submit-button submit-button--white">
              Download
            </button>
          </a>
          <a ng-href="{{sharePath}}" style="text-decoration: none" target="_blank">
            <button class="submit-button submit-button--twitter">
              <img src="../static/icon-twitter.png">
              Share
            </button>
          </a>
        </div>
        {% endraw %}

        <div class="related-articles" ng-show="success">
          <div class="related-articles__lead">
          Articles with the average activation maps that best match the predicted brain map
          </div>
          <table class="related-articles__table">
            <tr>
              <th class="related-articles__table__header">PMID</th>
              <th class="related-articles__table__header related-articles__table__cell--mid">Title</th>
              <th class="related-articles__table__header">Pearson's correlation</th>
            </tr>
            <tbody>
              {% raw %}
                <tr ng-repeat="article in relatedArticles">
                  <td class="related-articles__table__cell"><a class="related-articles__table__link" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ article['pmid']}}" target="_blank">{{ article['pmid'] }}</a></td>
                  <td class="related-articles__table__cell related-articles__table__cell--mid">{{ article['title'] }}</td>
                  <td class="related-articles__table__cell">{{ article['correlation'].toFixed(3) }}</td>
                </tr>
              {% endraw %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="how-it-works" id="how-it-works">
      <h1 class="how-it-works__title">How it works</h1>
      <p class="how-it-works__reference">
         Gia H. Ngo, Minh Nguyen, Nancy F. Chen, Mert R. Sabuncu. <a class="how-it-works__link" href="https://link.springer.com/chapter/10.1007/978-3-030-87234-2_57" target="_blank">Text2Brain: Synthesis of Brain Activation Maps from Free-Form Text Query</a>. In International Conference on Medical Image Computing and Computer-Assisted Intervention, 2021
      </p>
      <p class="how-it-works__text">
        Over the years, neuroscientists have reported thousands of imaging results from functional magnetic resonance imaging (fMRI) and described their findings in scientific articles.
        Using 13,000 published neuroimaging articles, we trained an artificial neural network to predict brain activation maps from snippets of text.
        The figure below shows the schematic of the model and the training procedure.
      </p>
      <p class="how-it-works__text">
        <img class="how-it-works__model" src="{{ url_for('static', filename='t2b_model.png') }}">
      </p>
      <p class="how-it-works__list">
        <span class="how-it-works__list__bullet">1</span>Text2Brain consists of a text encoder based on <a href="https://arxiv.org/abs/1903.10676" target="_blank">SciBert</a> language model, and a 3-D convolutional neural network (CNN).</br>
        <span class="how-it-works__list__bullet">2</span>For each training sample, a text snippet is randomly picked from the title, keywords, sentences from abstract or discussion of a published research article. For each article, a 3-D volumetric brain image created by placing a 9-mm full-width-half-max (FWHM) Gaussian sphere at an activation coordinate reported in the article. This procedure results in several text-image sample pairs per research article.</li></br>
        <span class="how-it-works__list__bullet">3</span>Given a text query input, the text encoder produces an encoding vector, which is then reshaped and passed through the 3-D CNN to generate a brain image. During training, the model is optimized using back propagation from mean squared error (MSE) between the predicted and target brain images.
      </p>
      Huge thanks to all the neuroscienntists whose papers we have used and the authors of <a class="how-it-works__link" href="https://neurosynth.org/" target="_blank">Neurosynth</a> and <a class="how-it-works__link" href="https://neuroquery.org/" target="_blank">Neuroquery</a> for making their data public.
      <p style="text-align: center">
        <a class="how-it-works__link how-it-works__github__link" href="https://github.com/sabunculab/text2brain" target="_blank">
          {% include "icon-github.svg" %} 
          Model
        </a>
        <a class="how-it-works__link how-it-works__github__link" href="https://github.com/sabunculab/text2brain_server" target="_blank">
          {% include "icon-github.svg" %} 
          Website
        </a>
      </p>
    </div>
    
    <div class="api" id="api">
      <h1 class="api__title">API</h1>
      <p class="api__text">
        Prediction from our Text2Brain model can be retrieved programmatically via the <code class="api__inline-code">/api</code> endpoint via a POST request.
        The endpoint expects a JSON of the format  <code class="api__inline-code">{ "query": "your-query-string" }</code>. Note that for query longer than 140 characters, the query will be truncated to 140 characters before being passed as input to Text2Brain.
      </p>
      <p class="api__text">
        A successful response is a JSON with the following fields:
           <ul class="api__list">
             <li><code class="api__inline-code">query</code>: actual query passed to the model (might be different from the input query due to truncation)</li>
             <li><code class="api__inline-code">download_path</code>: download path for the predicted brain volume in nii.gz format</li>
             <li><code class="api__inline-code">related_articles</code>: array of 5 articles (in our training dataset) with the average activation map that best match the predicted brain image, measured by Pearson's correlation. Each entry array is a JSON with the following fields:</li>
             <ul class="api__list">
               <li><code class="api__inline-code">pmid</code>: PubMed ID of the article
               <li><code class="api__inline-code">author</code>: authors of the article
               <li><code class="api__inline-code">title</code>: Title of the article
               <li><code class="api__inline-code">correlation</code>: per-voxel Pearson's correlation coefficient betwen the predicted brain image and the article's average activation map
             </ul>
           </ul>
      </p>
      <p class="api__text">
        Example:
        <div class="api__block-code__header">
          </br> 
        </div>
        <div class="api__block-code">
          <div class="api__block-code__inner">
            <span class="api__block-code__bash">$</span>payload='{ "query": "kicking" }' </br>
            <span class="api__block-code__bash">$</span>curl -H "Content-Type: application/json" </br>
            <div class="api__block-code__inner"><div class="api__block-code__inner">-d "$payload" https://braininterpreter.com/api</div></div>
          </div>
        </div>
        </br>

        <div class="api__block-code__header">
          RESPONSE
        </div>
        <div class="api__block-code">
          <div class="api__block-code__inner">
            { </br>
              <div class="api__block-code__inner">
                "download_path": "https://braininterpreter.com/download/fa4168...3319.nii.gz",</br>
                "query": "working memory", </br>
                "related_articles": [ </br>
                <div class="api__block-code__inner">
                  { </br>
                    <div class="api__block-code__inner">
                      "author": "Marie Arsalidou, Margot J. Taylor",  </br>
                      "correlation": 0.630859375,  </br>
                      "pmid": "20946958",  </br>
                      "title": "Is 2+2=4? Meta-analyses of brain areas needed for numbers and calculations" </br>
                    </div>
                  }, </br>
                  ... </br>
                </div>
              </div>
            }
         </div>
        </div>
      </p>
    </div>
    
    <div class="feedback" id="feedback">
      <h1 class="feedback__title">Feedback</h1>
      <p class="feeback__lead">Please let us know if you spot something strange in the predicted brain maps. We would love to improve the model!</p>
      <form role="form" ng-submit="createComment()">
        <div class="form-group">
          <textarea class="feedback__input" type="text" minLength="2" maxlength="512" ng-model="comment" rows="5"
              placeholder="Any feedback you have with the predicted brain maps or the website"></textarea>
          <div class="button-container button-container--right">
            <span ng-show="commentSuccess">Thank you! We have received your comment</span>
            <button type="submit" class="submit-button submit-button--white" style="margin-right: 0" ng-disabled="commentLoading">
              Send
            </button>
          </div>
        </div> 
      </form>
    </div>

    <div class="how-it-works how-it-works__github">
      Built by <a class="how-it-works__link" href="https://github.com/ngohgia" target="_blank">Gia</a> and  <a class="how-it-works__link" href="https://github.com/mnhng" target="_blank">Minh</a>. Kudos to Zoe Tan for early iterations of the website.
      <p>
        <a class="how-it-works__link how-it-works__github__link" href="https://github.com/sabunculab/text2brain" target="_blank">
          {% include "icon-github.svg" %} 
          Model
        </a>
        <a class="how-it-works__link how-it-works__github__link" href="https://github.com/sabunculab/text2brain_server" target="_blank">
          {% include "icon-github.svg" %} 
          Website
        </a>
      </p>
    </div>
  </body>
</html>
